body {
	background-color:#444444;
	color: white;
}

.container {
	width:600px;
	padding:30px;
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	border:#CCCCCC 4px solid;
}

h1 {
	text-align: center;
	color:#FFFFFF;
	font-style: italic;
	font-weight: lighter;
	font-family: georgia;
}

li {
	display: inline;
	padding: 0;
	font-weight: bold;
	font-family: helvetica;
}

a {
	color:#66CE9B;
}

ul {
	text-align: center;
}

.divider {
	border-top:#CCCCCC 1px solid;
	margin-top: 10px;
	margin-bottom: 10px;
}

h2 {
	font-weight: bold;
	font-family: helvetica;
}

img {
	border:#CCCCCC 1px solid;
	margin: 0 20px 20px 20px;
	padding: 5px;
	float: right;
}

.list {
	text-align: left;
}

.list li {
	display: block; 
	display: list-item;
	list-style: square;
	padding: 0 0 0 0;
	font-size: 1.1em;
	font-family: helvetica;
}

.list p {
	color: #CCCCCC;
}

h3 {
	font-weight: bold;
	color: #CCCCCC;
	font-family: helvetica;
}

.date {
	font-weight: normal;
	color: #CCCCCC;
	font-size: .8em;
	font-family: normal;
}

.place {
	font-weight: normal;
}

.pipe {
	font-weight: normal;
	color: white;
	text-decoration: none;
}