.container1 {
	width: 900px;
	background-color: #d3d3d3;
	padding: 40px; 

}

h2 {
	text-align: center;
	font-style: italic;
}

input {
	padding: 10px;
}

.half {
	width: 49.5%;
	box-sizing: border-box;
	display: inline-block;
}

.centered {
	text-align: center;
	margin: 10px;
}